@import "../../../utils/variables/colors";
.home-svg-1 {
  //   padding-top: 10rem;
  position: absolute;
  padding: 0 0.9rem;
  bottom: 0;
  left: 0;
}
.home-main {
  position: relative;
  padding-bottom: 19.7rem;
  > p {
    position: relative;
  }
  .blue-line {
    display: none;
  }
  .home-svg-5 {
    display: none;
  }
}
.home-section-2 {
  background-color: $color-secondary-4;
  padding-top: 6rem;
  position: relative;

  > h2 {
    width: 75%;
    text-align: left;
    padding-bottom: 5.6rem;
    padding-top: 3.2rem;
    position: relative;
  }

  & .red-line {
    position: absolute;
    top: 0;
    left: 0;
    width: 5rem;
    height: 0.4rem;
    margin-left: 2.4rem;
    background-color: $color-primary-2;
  }

  .home-svg-2 {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
  }
}
.home-section-3 {
  padding-top: 14rem;
  position: relative;
  padding-bottom: 16.4rem;

  .home-svg-3 {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
  }
  .home-svg-4 {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0;
  }
  h2 > span {
    color: $color-secondary-1;
  }
  h2 {
    padding-bottom: 4.8rem;
  }
}
