.contact-main {
  padding-bottom: 8.8rem;
  position: relative;
}
.contact-main-text {
  grid-template-rows: repeat(2, max-content);
  gap: 1.6rem;
  justify-content: center;
  justify-items: center;
  align-items: center;
  padding-bottom: 4rem;
}

.contact-heading-small {
  font-size: 3.2rem;
}

.contact-svg-1 {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0;
}
