.contact-items-list {
  grid-template-rows: repeat(3, max-content);
  gap: 2.4rem;
  justify-content: center;
  padding-bottom: 5.6rem;
}
.contact-items-item {
  grid-template-columns: max-content auto;
  align-items: center;
  gap: 2.4rem;
  color: white;
  font-weight: bold;
}
