.content-wrapper {
  padding-top: 8rem;
  & > * > * {
    padding-left: 2.4rem;
    padding-right: 2.4rem;
  }
  //Content Title
  & > * > .heading-main {
    padding-bottom: 1.8rem;
  }
  //Content text
  & > * > .body-text-secondary {
    padding-bottom: 19.4rem;
  }
}

.content-heading {
  color: white;
  text-align: center;
  // margin-bottom: 1.8rem;
}

.content-text {
  text-align: center;
  color: white;
}
