@import "../../../utils/variables/colors";
.about-main {
  position: relative;
  padding-bottom: 19.4rem;
}

.about-svg-1 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
}

.about-section-2 {
  padding-top: 8.8rem;
  padding-bottom: 11.6rem;
  position: relative;
  background-color: $color-secondary-3;
}

.about-section-3 {
  padding-top: 8.8rem;
  padding-bottom: 8.8rem;
}
