.about-team-title {
  padding-bottom: 4.8rem;
}

.team-list {
  grid-template-columns: repeat(auto-fit, minmax(250px, 350px));
  justify-content: center;
  row-gap: 7.6rem;
  column-gap: 3rem;
}

.about-team-svg-1 {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
}
.about-team-svg-2 {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
}
