@import "../../utils/variables/colors";

.header {
  grid-template-columns: repeat(4, 1fr);
  padding-left: 2.4rem;
  padding-right: 2.4rem;
  padding-top: 4.8rem;
  padding-bottom: 8rem;
  align-items: center;
}

// .app {
//   padding-bottom: 6.4rem;
// }
