.desktop-menu-items {
  grid-template-columns: max-content max-content auto;
  gap: 2.4rem;
  //   margin-right: auto;
  width: 100%;
  align-items: center;
  //reset padding
  padding: 0;
}

.desktop-menu-item:last-of-type {
  justify-self: end;
}

.desktop-menu-item a {
  color: white;
  text-decoration: none;
  justify-self: center;
}
