@import "../utils/variables/colors";
@import "../utils/typography.scss";
.get-started {
  background-color: $color-primary-2;
  padding: 8.3rem 2.4rem;
  text-align: center;
  grid-template-rows: repeat(2, auto);
  gap: 2.4rem;
  justify-items: center;
  position: relative;
  &-svg-1 {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  > a {
    z-index: 10;
  }
  &-title {
    color: $color-secondary-4;
    @include heading-mobile-secondary;
  }
}
