//Primary

$color-primary-1: #014e56;
$color-primary-2: #f67e7e;
$color-primary-3: #ffffff;

//Secondary

$color-secondary-1: #79c8c7;
$color-secondary-2: #2c6269;
$color-secondary-3: #004047;
$color-secondary-4: #012f34;
$color-secondary-5: #002529;
