@import "./variables/colors";

.btn {
  padding: 0.25rem 0.33rem;
  height: 4.8rem;
  width: 15.3rem;
  border: 2px solid white;
  border-radius: 2.4rem;
  font-size: 1.8rem;
  cursor: pointer;
  transition: all 0.2s;
  &-primary-light {
    background: none;
    color: $color-primary-3;

    &:hover {
      color: $color-secondary-5;
      background: $color-primary-3;
    }
  }
  &-primary-dark {
    border: 2px solid $color-secondary-4;

    background: none;
    color: $color-secondary-5;
    &:hover {
      color: $color-primary-3;
      background: $color-secondary-4;
    }
  }

  &-secondary {
    background-color: $color-primary-3;
    color: $color-secondary-5;
    &:hover {
      background-color: $color-secondary-1;
    }
  }
}
